@import url('https://fonts.googleapis.com/css?family=Nunito|Bungee');

* {
    box-sizing: border-box;
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
}

.poll-container {
    margin-top: 100px;
    width: 100%;
    height: auto;
    position: relative;
    border: 3px solid #ADC0DF;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
}

.poll-division .bar:last-child {
    border-right: none;
}

.poll-voter {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px;
    border-radius: 3px;
    background: #eee;
}

.poll-voter .poll-title {
    margin-bottom: 5px;
    color: #393939;
    margin-left: 10px;
    font-family: 'Bungee';
    color: #1E417C;
}

.poll-list {
    width: 100%;
    position: relative;
    margin-top: 10px;
    border-spacing: 7px 7px;
}

.poll-option {
    background: #fafafa;
    height: auto;
    border-radius: 3px;
    width: 100%;
    padding: 7px 14px;
    padding-left: 10px;
    position: relative;
    z-index: 5;
    min-height: 40px;
    overflow: hidden;
}

.poll-option p {
    z-index: 20;
}

.poll-option-bar {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    background: #dce6f7;
    z-index: -10;
    transition: 1s ease-out;
}

.vote-btn {
    //border: 2px solid #256b33;
    border: none;
    border-radius: 3px;
    padding: 7px 14px;
    background: #39a84f;
    color: white;
    float: right;
    cursor: pointer;
    outline: none;
    transition: 250ms;
}

.vote-btn:active {
    background: #63ce78;
    border: 0px;
    transition: 0ms;
}

.checkup {
    font-weight: bold;
    animation: popin 350ms linear;
}

@keyframes popin {
    0% {
        transform: scale(0);
    }

    65% {
        transform: scale(5);
    }

    80% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}